@import "./LetterCard.scss";

@media (max-width:$breakpoint) {
  ul > li{
    font-size: 2em;
    margin:0.5rem;
    color:white;
  }
  div > nav {
   width:100%;
   top: 0;
  }

  nav ul{
    margin-top: 0;
    width:100%;
    flex-direction: column;
  }
  
  div > .logo{
   height:100px;
   width:100px;
  }

  .overlay{
    height:120%;
    width:140%;
    position:fixed;
    left:-2%;
    background-color: rgba(0,0,0,0.9);
    overflow-x: hidden;
    z-index: 100;
    margin: 0;
    padding:0;
  }

  .not-overlay{
    display: none;
  }
  
  nav>span{
    background-color: white;
    font-size:2.5em;
    position:absolute;
    left: 60%;

  }

}


ul {
  list-style-type: none;
  margin: 0;
  margin-top: 2%;
  padding:0;
  display: flex;
  justify-content: center;
}

li {
  margin: 3rem;
  font-size: 1.5em;;
}

li:hover, li:active{
  background: red;
}

.selected{
  background:pink;
}

nav {
  height: 100px;
  background-color: grey;
  padding: 2.5%;
  width:100%;
  margin:0;
  position:relative;
  top:-100px;
  z-index:99; 
}

.logo {
 height: 200px;
 width: 200px;
 z-index: 100;
 position:relative;
}
